<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
          <%= post.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>

    <% if @post.user.id == current_user.id %>
        <div class="text-center edit-links">
            <%= link_to "CANC3L", posts_path %> //
            <%= link_to "ED1T", edit_post_path(@post) %> //
            <%= link_to "DEL33T", post_path(@post), method: :delete, data: { confirm: "CONF1RM Y0U WISH T0 V4POR1ZE TH1S P0S7?" } %>
        </div>
    <% else %>
        <div class="text-center edit-links">
            <%= link_to "Cancel", posts_path %>
        </div>
    <% end %>
        <div class="text-center edit-links">

        <%= link_to "CANC3L", posts_path %> //
        <%= link_to "ED1T", edit_post_path(@post) %> //
        <%= link_to "DEL33T", post_path(@post), method: :delete, data: { confirm: "CONF1RM Y0U WISH T0 V4POR1ZE TH1S P0S7?" } %>
    </div>
  </div>
</div>
